<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @window_title || @page_title %></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 2 tweaks for queue/show view (check _scripts) -->
    <link rel="stylesheet" href="css/queue.css">
  </head>

  <body>
    <div class="container">
      <% if @page_title %>
        <h1><%= @page_title %></h1>
      <% end %>

      <!-- Renders partial @ "lib/views/_common_scripts.erb" -->
      <%= partial("_common_scripts") %>

      <!-- Renders view by means of "yielding" to it -->
      <%= yield %>
    </div>
  </body>

</html>

