<html>
  <head>
    <title>Queue</title>
  </head>
  <body>
    <p><%= @queue.songs.size %> songs queued</p>
    <ul>
      <% @queue.songs.each do |song| %>
        <li><%= "#{song.title} (#{song.artist})" %></li>
      <% end %>      
    </ul>
  </body>
</html>
