<div class="hello-jukebox jumbotron">
  <h1>Jukebox</h1>
  <blockquote>
    <p><%=@marketing_quote%></p>
    <footer>
      <cite><%=@author%></cite>
    </footer>
  </blockquote>
  <a class="btn btn-success" href="/songs">Take me already!</a>
</div>
