<div class="row">
  <table class="songs table">
    <thead>
      <tr>
        <th>Title</th><th colspan="3">Actions</th> 
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <td><%= song.artist %> - <%= song.title %></td>
          <td><a href="<%= song.url%>">Source</a></td>
          <td><a href="/song/<%=song.id%>">Play</a></td>
          <td><a href="TODO">Add to queue</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="/songs/new" class="btn btn-primary">New</a>
</div>
